@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Satoshi";
  src: url("/fonts/satoshi/Satoshi-Regular.otf") format("opentype");
  font-style: normal;
}
@font-face {
  font-family: "Satoshi-Medium";
  src: url("/fonts/satoshi/Satoshi-Medium.otf") format("opentype");
  font-style: normal;
}
@font-face {
  font-family: "Satoshi-Light";
  src: url("/fonts/satoshi/Satoshi-Light.otf") format("opentype");
  font-style: normal;
}
@font-face {
  font-family: "Satoshi-Bold";
  src: url("/fonts/satoshi/Satoshi-Bold.otf") format("opentype");
  font-style: normal;
}
@font-face {
  font-family: "Satoshi-Black";
  src: url("/fonts/satoshi/Satoshi-Black.otf") format("opentype");
  font-style: normal;
}
@font-face {
  font-family: "Monument";
  src: url("/fonts/monument/MonumentExtended-Regular.otf") format("opentype");
  font-style: normal;
}
@font-face {
  font-family: "Monument-Bold";
  src: url("/fonts/monument/MonumentExtended-Ultrabold.otf") format("opentype");
  font-style: normal;
  font-weight: 400;
}

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: black;
}
